.page.theme_light {
  --accent-color: #FF8DCB;
  --side-color: #FFF1F7;
  --text-color: #353430;
  --menu-color: var(--text-color);
  --menu-outline-color: var(--text-color);
  --menu-outline-color-hover: rgba(50, 49, 45, 0.4);
  --title-decor-color: var(--text-color);
  --title-decor-bg-color: var(--accent-color);
  --title-article-color: var(--text-color);
  --logo-color: #FFC2E6;
  --bg-image: url("../images/cover-image-light.png");
  --rec-visibility: hidden;
}

@media (prefers-color-scheme: light) {
  :root {
    --accent-color: #FF8DCB;
    --side-color: #FFF1F7;
    --text-color: #353430;
    --menu-color: var(--text-color);
    --menu-outline-color: var(--text-color);
    --menu-outline-color-hover: rgba(50, 49, 45, 0.4);
    --title-decor-color: var(--text-color);
    --title-decor-bg-color: var(--accent-color);
    --title-article-color: var(--text-color);
    --logo-color: #FFC2E6;
    --bg-image: url("../images/cover-image-light.png");
    --rec-visibility: hidden;
  }
}