a {
  text-shadow: 2px 2px 0 var(--accent-color);
  text-decoration: none;
}


a:hover {
  border-bottom: 1px solid var(--side-color);
}

a:focus {
  outline: 1px solid var(--side-color);
  text-shadow: 2px 2px 0 var(--accent-color);
  text-decoration: none;
}

.decorated-zone::before {
  position: absolute;
  bottom: 10px;
  left: 10px;
  content: "";
  width: 25px;
  height: 25px;
  border-left: var(--decorated-zone-color) 1px solid;
  border-bottom: var(--decorated-zone-color) 1px solid;
}

.decorated-zone::after {
  position: absolute;
  top: 10px;
  right: 10px;
  content: "";
  width: 25px;
  height: 25px;
  border-top: var(--decorated-zone-color) 1px solid;
  border-right: var(--decorated-zone-color) 1px solid;
}

.page {
  font-family: IBM Plex Mono, monospace;
  background-image: var(--bg-image);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.title_decor {
  color: var(--title-decor-color);
  background-color: var(--title-decor-bg-color);
}

.header {
  padding: 10px;
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr min-content 1fr;
  height: 100vh;
  min-height: 668px;
  align-items: center;
}

.header__rec {
  visibility: var(--rec-visibility);
  position: absolute;
  top: 10px;
  right: 19px;
  color: var(--accent-color);
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
  text-transform: uppercase;
}

.header__rec::after {
  content: "";
  height: 9px;
  width: 9px;
  border-radius: 50%;
  display: inline-block;
  background-color: var(--accent-color);
  box-shadow: 0 0 4px 2px var(--accent-color);
  margin-left: 10px;
  margin-bottom: 2px;
}

.header__theme-menu {
  justify-self: end;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.header__theme-menu-button {
  color: var(--menu-color);
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  background-color: transparent;
  border: none;
  text-transform: lowercase;
  padding: 1px 12px 5px;
  cursor: pointer;
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--menu-outline-color-hover);
}

.header__theme-menu-button:focus {
  outline: none;
  border-bottom: 1px solid var(--menu-outline-color);
  margin-bottom: -1px;
}

.header__theme-menu-button_active {
  outline: 1px solid var(--menu-outline-color);
  pointer-events: none
}

.header__logo {
  color: var(--logo-color);
  text-shadow: 4px 4px 0 var(--logo-shadow-color-soft);
  font-size: var(--logo-size);
  font-style: normal;
  font-weight: 700;
  line-height: 82.5%;
}

.header__slogan {
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
}

.title {
  font-size: 18px;
  font-style: normal;
  line-height: 130%;
  font-weight: 700;
}

.title-light {
  font-weight: 400;
}

.main {
  font-size: 18px;
  font-style: normal;
  line-height: 130%;

  color: var(--side-color);
  font-weight: 400;
  padding: 40px 10px 40px;
}

.article__title {
  color: var(--title-article-color);
}

.article {
  margin-bottom: 50px;
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr;
}

.article__section {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.gallery {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.images {
  display: grid;
  gap: 10px;
}

.images__item {
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.footer {
  height: 100vh;
  min-height: 668px;
  display: grid;
  padding: 10px;
  place-content: center;
  position: relative;
}

.footer__logo {
  color: var(--logo-color);
  text-shadow: 2px 2px 0 var(--accent-color);
  font-size: var(--logo-size);
  font-style: normal;
  font-weight: 700;
  line-height: 82.5%;
}

@media (width >= 768px) {
  :root {
    --logo-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header {
    padding: 20px;
    grid-template-columns: 1fr 1fr;
  }

  .header__theme-menu {
    grid-column: 2 / 3;
  }

  .header__logo {
    grid-column: 1 / span 2;
    margin-left: -20px;
  }

  .header__slogan {
    grid-column: 2 / 3;
  }

  .decorated-zone::before {
    bottom: 20px;
    left: 20px;
  }

  .decorated-zone::after {
    top: 20px;
    right: 20px;
  }

  .header__rec {
    top: 20px;
    right: 29px;
  }

  .main {
    padding: 60px 20px 60px;
  }

  .article {
    margin-bottom: 80px;
  }

  .article_first {
    grid-template-columns: 1fr 2fr;
  }

  .article__title-first {
    grid-column: 1 / 2;
    grid-row: 1 / -1;
  }

  .article__section-first {
    grid-column: 2 / 3;
  }

  .article_second {
    grid-template-columns: 1fr 3fr;
  }

  .article__title-second {
    grid-column: 1 / 1;
  }

  .article__section-second {
    grid-column: 1 / 3;
  }

  .article_third {
    grid-template-columns: 1fr 2fr;
    align-items: start;
    grid-template-rows: min-content 1fr;
  }

  .article__title-third {
    grid-column: 1 / 2;
    grid-row: 1 / -1;
  }

  .article__section-third {
    grid-column: 2 / 3;
  }

  .gallery {
    gap: 20px;
  }

  .images {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .images__item {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .images__item:nth-child(1) {
    grid-area: 1 / 1 / 1 / 3;
  }

  .images__item:nth-child(2) {
    grid-area: 1 / 3 / 3 / 4;
  }

  .images__item:nth-child(3) {
    grid-area: 2 / 1 / 4 / 2;
  }

  .images__item:nth-child(4) {
    grid-area: 2 / 2 / 3 / 3;
  }

  .images__item:nth-child(5) {
    grid-area: 3 / 2 / 4 / 4;
  }

  .footer {
    padding: 20px;
  }
}

@media (width >= 1024px) {
  .header__logo {
    text-shadow: 4px 4px 0 var(--logo-shadow-color-rich);
  }

  .article_first {
    grid-template-columns: 1fr 2fr;
    column-gap: 12px;
  }

  .header__theme-menu-list {
    flex-direction: row;
    align-items: center;
  }

  .header__theme-menu {
    grid-column: 1 / 3;
    justify-self: center;
    align-self: start;
  }

  .article_second {
    grid-template-columns: repeat(3, 1fr);
  }

  .article__title-second {
    grid-column: 1 / 1;
  }

  .article__section-second {
    grid-row: 2 / 3;
    grid-column: revert;
  }

  .article_third {
    column-gap: 12px;
  }
}

